


/*=======================================
Template Design By MarkUps  
Author URI : http://www.markups.io/
========================================*/




/* vermelho */

/*
.mu-featured-slider-single::before,
#mu-counter:before,
#mu-inscr:before,
.mu-filter-item-content,
.mu-simplefilter li:hover,
.mu-simplefilter li.active,
.mu-team-content-single:hover {
  background: #793A42;  
  background: -webkit-linear-gradient(to right, #793A42, #793A42); 
  background: linear-gradient(to right, #793A42, #793A42); 
}


#mu-inscr{
  color: #ffffff;
}


.inscr-bottom {
  position: relative;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding-top: 7px;
}


.mu-heading-title>span,
.mu-service-icon-box,
.mu-team-social-info a:hover,
.mu-team-social-info a:focus,
.mu-testimonial-slide .slick-dots li button::before,
.mu-testimonial-slide .slick-dots li.slick-active button::before,
.mu-footer-area a:hover,
.mu-footer-area a:focus {
  color: #793A42;
}

.mu-send-msg-btn:hover,
.mu-send-msg-btn:focus,
.mu-about-icon-box,
.mu-social-media a:hover,
.mu-social-media a:focus {
  border: 1px solid #793A42;
  color: #793A42;
}

.mu-testimonial-slide .slick-dots li button:hover,
.mu-testimonial-slide .slick-dots li button:focus,
.mu-testimonial-slide .slick-dots li.slick-active button {
  background-color: #793A42;
}

.mu-contact-form .form-control:focus {
  border: 1px solid #793A42;    
} 
*/

/* preto */

/*
.mu-featured-slider-single::before,
#mu-counter:before,
#mu-inscr:before,
.mu-filter-item-content,
.mu-simplefilter li:hover,
.mu-simplefilter li.active,
.mu-team-content-single:hover {
  background: #000000;  
  background: -webkit-linear-gradient(to right, #000000, #000000);  
  background: linear-gradient(to right, #000000, #000000); 
}


#mu-inscr{
  color: #ffffff;
}


.inscr-bottom {
  position: relative;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding-top: 7px;
}


.mu-heading-title>span,
.mu-service-icon-box,
.mu-team-social-info a:hover,
.mu-team-social-info a:focus,
.mu-testimonial-slide .slick-dots li button::before,
.mu-testimonial-slide .slick-dots li.slick-active button::before,
.mu-footer-area a:hover,
.mu-footer-area a:focus {
  color: #000000;
}

.mu-send-msg-btn:hover,
.mu-send-msg-btn:focus,
.mu-about-icon-box,
.mu-social-media a:hover,
.mu-social-media a:focus {
  border: 1px solid #000000;
  color: #000000;
}

.mu-testimonial-slide .slick-dots li button:hover,
.mu-testimonial-slide .slick-dots li button:focus,
.mu-testimonial-slide .slick-dots li.slick-active button {
  background-color: #000000;
}

.mu-contact-form .form-control:focus {
  border: 1px solid #000000;    
} 


*/
/* gra vermelho e preto */

/*
.mu-featured-slider-single::before,
#mu-counter:before,
#mu-inscr:before,
.mu-filter-item-content,
.mu-simplefilter li:hover,
.mu-simplefilter li.active,
.mu-team-content-single:hover {
  background: #793A42;  
  background: -webkit-linear-gradient(to right, #000000, #793A42);  
  background: linear-gradient(to right, #000000, #793A42); 
}


#mu-inscr{
  color: #ffffff;
}


.inscr-bottom {
  position: relative;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding-top: 7px;
}


.mu-heading-title>span,
.mu-service-icon-box,
.mu-team-social-info a:hover,
.mu-team-social-info a:focus,
.mu-testimonial-slide .slick-dots li button::before,
.mu-testimonial-slide .slick-dots li.slick-active button::before,
.mu-footer-area a:hover,
.mu-footer-area a:focus {
  color: #793A42;
}

.mu-send-msg-btn:hover,
.mu-send-msg-btn:focus,
.mu-about-icon-box,
.mu-social-media a:hover,
.mu-social-media a:focus {
  border: 1px solid #793A42;
  color: #793A42;
}

.mu-testimonial-slide .slick-dots li button:hover,
.mu-testimonial-slide .slick-dots li button:focus,
.mu-testimonial-slide .slick-dots li.slick-active button {
  background-color: #793A42;
}

.mu-contact-form .form-control:focus {
  border: 1px solid #793A42;    
} 

*/




/* vermelho vivo */


.mu-featured-slider-single::before,
#mu-counter:before,
#mu-inscr:before,
.mu-filter-item-content,
.mu-simplefilter li:hover,
.mu-simplefilter li.active,
.mu-team-content-single:hover {
  background: #CF000F;  
  background: -webkit-linear-gradient(to right, #CF000F, #CF000F); 
  background: linear-gradient(to right, #CF000F, #CF000F); 
}


#mu-inscr{
  color: #ffffff;
}


.inscr-bottom {
  position: relative;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding-top: 7px;
}


.mu-heading-title>span,
.mu-service-icon-box,
.mu-team-social-info a:hover,
.mu-team-social-info a:focus,
.mu-testimonial-slide .slick-dots li button::before,
.mu-testimonial-slide .slick-dots li.slick-active button::before,
.mu-footer-area a:hover,
.mu-footer-area a:focus {
  color: #CF000F;
}

.cronog {
  color: #ffffff;
}

.mu-send-msg-btn:hover,
.mu-send-msg-btn:focus,
.mu-about-icon-box,
.mu-social-media a:hover,
.mu-social-media a:focus {
  border: 1px solid #CF000F;
  color: #CF000F;
}

.mu-testimonial-slide .slick-dots li button:hover,
.mu-testimonial-slide .slick-dots li button:focus,
.mu-testimonial-slide .slick-dots li.slick-active button {
  background-color: #CF000F;
}

.mu-contact-form .form-control:focus {
  border: 1px solid #CF000F;    
} 
